<mat-card>
    <mat-card-header>
  <h2>Area Calculation</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="mat-full-width">
              <mat-label>Height</mat-label>
              <input name="height" matInput [(ngModel)]="height" >
            </mat-form-field>
            <mat-form-field class="mat-full-width">
              <mat-label>Width</mat-label>
              <input name="width" matInput [(ngModel)]="width" >
            </mat-form-field>
          
          </form>
          <div style="border: 1px solid #ccc;padding: 10px;">
            <app-child (getdata)="getdata($event)" [ht]="height" [wt]="width">
            </app-child>
          </div>
        
        <div >
            We received the value is : {{receiveddata}}
          </div>
    </mat-card-content>
</mat-card>